@import url(https://fonts.googleapis.com/css?family=Roboto);
@import "../../node_modules/reset-css/_reset.scss";
*{
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
}
.main{
	width: 100%;
	display: flex;
	flex-direction: column; 
	min-height: 100vh;
}
header{
	background: #f004f4;
}
footer{
	background: #00BCD4;
	color: #fff;
	display: flex;
	justify-content: center;
    align-items: center;
}
.content{
	flex-grow: 1;
	flex-shrink: 0;
}
.search-form{
	max-width: 600px;
	margin: auto;
	text-align: center;
	padding: 10px 0;
}
.bar-list{
	max-width: 600px;
	margin: auto;
	.bar-item{
		display: flex;
		padding: 4px;
		margin-bottom: 6px;
	}
	.bar-details{
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-grow: 1;
		.bar-name{
			font-size: 1.4em;
			padding: 4px;
		}
		.bar-address{
			font-size: 1em;
			padding: 4px;
		}
	}
	.bar-photo{
		margin-right: 10px;
		width: 71px;
		height: 71px;
		display: flex;
		align-items: center;
		flex-grow: 0;
		flex-shrink: 0;
		overflow: hidden;
		img{
			width: 100%;
		}
	}
	.bar-hoppers{
		flex-grow: 0;
		flex-shrink: 0;
		padding: 0 8px;
		align-self: flex-end;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
    	align-items: center;
		.icon-button{
			font-size: 2em;
			cursor: pointer;
			&:hover{
				color: red;
			}
		}
	}
}
.snackbar{
	&.added{
		color: #00BCD4;
	}
	&.removed{
		color: #FF4081;
	}
}